.logo {
  width: 15%;
  display: inline-block;
}

.logo img {
  width: 100px;
  margin-left: 20%;
}

.score {
  width: 10%;
}

.progress-bar {
  height: 8px;
  background-color: #D1EEFC;
  width: 50%;
  min-width: 500px;
  text-align: center;
}

.progress-number {
  width: 10%;
  text-align: center;
}

.welcome {
  width: 15%;
  text-align: center;
}

#header {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: #F1F1F1 solid 2px;
}
